
@model Order
@{
    ViewBag.Title = "Invoice";
    Layout = "_CustomerLayout";
}
@inject SignInManager<ApplicationUser> SignInManager



<h4>Invoice</h4>
<div class="page-container">
    <!-- Header START -->
    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">

                        <li><a>Home</a></li>
                        <li><a class="active">Invoice</a></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->

                <div class="clearfix"></div>
            </div>
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <h3 class="text-right my-5">Invoice&nbsp</h3>
                                        <hr>
                                    </div>
                                    <input type="hidden" value="@Model.Email" id="email" />
                                    <input type="hidden" value="@Model.OrderId" id="orderid" />

                                    <div class="container-fluid d-flex justify-content-between">
                                        <div class="col-lg-3 pl-0">
                                            <p class="mt-5 mb-2"><b>Wragby  Admin</b></p>
                                            <p>No 21A, Olubunmi Rotimi Street,<br> Lekki Phase 1, Lagos, Nigeria.</p>
                                        </div>
                                        @{
                                            if (SignInManager.IsSignedIn(User))
                                            {
                                                <div class="col-lg-9 pr-0">
                                                    <p class="mt-5 mb-2 text-right"><b>Invoice to</b></p>
                                                    <p class="text-right">  @Model.FirstName&ensp;@Model.LastName <br>@Model.Email <br> @Model.CompanyAddress.</p>
                                                </div>
                                            }

                                        }

                                    </div>



                                    <div class="container-fluid d-flex justify-content-between">
                                        <div class="col-lg-3 pl-0">
                                            <p class="mb-0 mt-5"><b>Invoice Date :</b>  @DateTime.Now.ToLongDateString()</p>
                                            <p><b>Invoice Due Date :</b>@DateTime.Now.AddDays(2)</p>
                                        </div>
                                    </div>
                                    <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                                        <div class="table-responsive w-100">
                                            <table class="table">
                                                <thead>
                                                    <tr style="background-color:black; color:white;">

                                                        <th style="background-color:black; color:white;">Item</th>
                                                        <th style="background-color:black; color:white;">Description</th>
                                                        <th style="background-color:black; color:white;">Quantity</th>
                                                        <th style="background-color:black; color:white;">Unit cost</th>
                                                        <th style="background-color:black; color:white;">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.OrderDetails.Count(); i++)
                                                    {
                                                        <tr>

                                                            <td> @Model.OrderDetails[i].Product.Name</td>
                                                            <td> @Model.OrderDetails[i].Product.Description </td>

                                                            <td>@Model.OrderDetails[i].Quantity </td>
                                                            <td>&#8358;@Model.OrderDetails[i].UnitPrice </td>

                                                            <td>&#8358;@(Model.OrderDetails.Sum(a => a.UnitPrice))</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="container-fluid mt-5 w-100">
                                        <p class="text-right mb-2">Sub - Total amount: &#8358; @Model.OrderDetails.Sum(a => a.UnitPrice)</p>
                                        <br />
                                        <p class="text-right">vat (5%) : &#8358; @string.Format("{0:C}", ((Convert.ToInt64(@Model.OrderDetails.Sum(a => a.UnitPrice))) * 0.05)).Remove(0, 1)</p>
                                        <br />
                                        <h4 class="text-right mb-5">
                                            Total :  &#8358;@{ var m = (Convert.ToInt64(@Model.OrderDetails.Sum(a => a.UnitPrice)));
                                                var n = ((Convert.ToInt64(@Model.OrderDetails.Sum(a => a.UnitPrice))) * 0.05); var total = m + n; } @string.Format("{0:C}", @total).Remove(0, 1)
                                            </h4>
                                            <hr>
                                        </div>
                                        1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


