@model List<cspv3.Models.Support>

@using Microsoft.AspNetCore.Http;
@using X.PagedList.Mvc.Core
@{
    ViewBag.Title = "SupportIndex";
    Layout = "_CustomerLayout";
}



<div class="row">

    <div class="col-sm-12">


        <div class="page-header">


            <h4 class="page-title"> Customer Users </h4>



            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Support Tickets</li>
                </ol>
            </nav>

        </div>

        <div class="row grid-margin col-lg-12">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-md-right">

                            <a class="btn btn-primary" asp-action="support" asp-controller="CustomerDashBoard" style="color:white">Create a new Ticket</a>

                        </h6>
                        <br />

                        <div class="panel panel-default card-view">
                            <div class="panel-wrapper collapse in">

                                <div class="panel-body">

                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <table id="example" class="table table-hover display  pb-30">
                                                <thead class="blue-grey lighten-4">
                                                    <tr>
                                                        <th>
                                                            S/N
                                                        </th>
                                                        <th>
                                                            Subject
                                                        </th>

                                                        <th>
                                                            Department
                                                        </th>
                                                        <th>
                                                            DateCreated
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>
                                                            Response
                                                        </th>

                                                        <th>
                                                            More Details
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Id)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Subject)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Department)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DateCreated)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Status)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Response)
                                                            </td>

                                                            <td>
                                                                @Html.ActionLink("View Details", "SupportDetails", new { id = item.Id })
                                                            </td>

                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <br />
                                        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                            @Html.PagedListPager(Model, page => Url.Action("SupportIndex",
                                                new { page }))*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>